# ========== MODEL GENERATION ==========
GENERATION_MODEL_TYPE=gemini # Optional gemini, openai, minilm
GENERATION_MODEL_NAME="gemini-2.5-flash"

# ========== MODEL EMBEDDING ==========
EMBEDDING_MODEL_TYPE=minilm
EMBEDDING_MODEL_NAME=libonnxruntime.so # For vector database
EMBEDDING_BATCH_SIZE=100
USE_BATCH_EMBEDDING=false

# ========== MODEL API KEYS ==========
GEMINI_API_KEYS="key1,key2,key3"
OPENAI_API_KEYS="key1,key2,key3"

# ========== POSTGRES ==========
POSTGRES_URL=""

# ========== SCHEDULER ==========
TARGET_HOUR=9
