# ========== MODEL OPTIONS ==========
MODEL_TYPE="gemini" # Optional gemini, openai
MODEL_NAME="gemini-2.5-flash"
EMBEDDING_MODEL_NAME="gemini-embedding-001" # For vector database

# ========== MODEL API KEYS ==========
# Comma-separated list of API keys for rotation
GEMINI_API_KEYS="key1,key2,key3"
OPENAI_API_KEYS="key1,key2,key3"

# ========== SERVER CONFIG ==========
PORT_NUMBER=8000

# ========== POSTGRES ==========
POSTGRES_URL=""

# ========== SCHEDULER ==========
TARGET_HOUR=9
