# ========== MODEL OPTIONS ==========
MODEL_TYPE="gemini" # Optional gemini, openai
MODEL_NAME="gemini-2.5-flash"
EMBEDDING_MODEL_NAME="gemini-embedding-001" # For vector database

# ========== MODEL API KEYS ==========
GEMINI_API_KEY=""
OPENAI_API_KEY=""

# ========== SERVER CONFIG ==========
PORT_NUMBER=8000

# ========== POSTGRES ==========
POSTGRES_URL="localhost:5432"